PORT=3000
NODE_ENV=development
JWT_SECRET=
JWT_EXPIRES_IN=1d
ALLOW_PUBLIC_REGISTRATION=true
FRONTEND_ORIGINS=http://localhost:5500
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=planeja_plus